# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Banco de dados
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# PDFs (se não quiser versionar)
# assets/pdf/*.pdf

